:host {
  height: 100%;
  display: flex;
  flex-direction: row;
}


wtl-runs-sidepanel {
  width: 250px;
}


.dashboard-content {
  width: 1fr;
  padding: 15px;
  // padding-left: 15px;
  padding-top: 0;;
}
