:host {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


wtl-runs-sidepanel {
  padding-top: 15px;
  padding-left: 20px;
  width: 160px;
  //position: sticky;

  flex-shrink: 0;

  margin-bottom: 10px;
}


.dashboard-content {
  width: 1fr;
  //padding: 15px;
  // padding-left: 15px;
  //padding-top: 0;

  overflow: auto
}
