
$expansion-panel-margin: 8px;

mat-expansion-panel {
  box-shadow: none;
  margin-bottom: $expansion-panel-margin;
  margin-top: $expansion-panel-margin;

  //--mat-expansion-header-expanded-state-height: 55px;
  --mat-expansion-header-expanded-state-height: var(--mat-expansion-header-collapsed-state-height);
}

mat-expansion-panel-header {
  padding-left: 10px;
  padding-right: 10px;

  mat-icon {
    margin-right: 8px;
  }
}



.charts-grid {
  /*
  display: grid;
  grid-template-rows: repeat(10, 20px);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
  */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;


  // default
  wtl-chart-grid-element {
    /*
    grid-row: span 2;
    grid-column: span 2;
    */
  }
}


