:host {
  margin: 2px;
  padding: 2px; //5px;
  border: 1px #494949 solid;
  //width: fit-content;
  //display: block;

  // make chart adapt size
  display: grid;
  background-color: #242427;
  border-radius: 4px;
}
